* {
  font-family: "Google Sans Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ddd;
}

/* Container dos ícones */
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

/* Texto principal */
.texto {
  text-align: center;
  line-height: 1.4; /* reduzido para ficar mais junto */
  max-width: 800px;
  margin: 10px auto; /* aproxima os textos */
}

/* Nome */
.nome {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

/* Botão */
.botao-email {
  display: block;
  margin: 15px auto;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* FOTO + SOBRE MIM LADO A LADO */
.sobre-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 1000px;
  margin: 30px auto;
  padding: 10px;
}

/* Ajuste da foto */
.minhafoto {
  width: 280px;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .minhafoto {
    width: 70%;
    margin: 0 auto;
  }
}


.container-menu {
  display: flex;
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
}

.menu {
  list-style: none;
  padding: 0;
  width: 150px;
}

.menu li {
  padding: 10px;
  background: #292929;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  
}

.menu li:hover {
  background: #292929;
  color: #ddd;
}

.menu li.ativo {
  background: #ffff;
  color: #292929;
}

.conteudo {
  
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.exp{
  display: flex;
  justify-content: center;
}

/* Experiências
.minha-experiencia {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

.minha-experiencia h2 {
  margin-bottom: 10px;
}

.minha-experiencia ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* Rodapé */
.rodape {
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  background: #2e2e2e;
}

@media (max-width: 600px) {
  .texto {
    font-size: 0.95rem;
    line-height: 1.25; /* mais perto ainda no mobile */
    margin: 8px auto;
  }

  .nome {
    font-size: 2rem;
  }

  .sobre-mim,
  .minha-experiencia {
    padding: 5px;
  }
}

button {
  border-radius: 13px;
  background-color: #333;
}

body{
  background-color: #1D7BC2;
}
